/* Grid  */
section.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25%);
    /* grid-template-rows: 200px 200px 200px 200px; */
    gap: 0;
    place-content: center;
}
.frase-container {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
}
.frase {
    font-family: var(--sarabun);
    /* color: var(--color-uno); */
    align-self: center;
    justify-self: center;
    font-size: 3.4rem;
    width: 80%;
    font-weight: bold;
    align-self: center;
    justify-self: center;
}
.img-item {
    height: 40vh;
    overflow: hidden;
}
@keyframes img-filter {
    0% {filter: grayscale(100%);}
    100% {filter: none;}
}
.img-item img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
}
.img-item:hover img{
    animation-name: img-filter;
    animation-duration: .5s;
    filter: none;
}
.square-black {
    background: var(--black);
    height: 100%;
}