* {
    margin: 0;
    padding: 0;
}
:root {
    --white: #FDFEFE;
    --black: #0e0e0e;
    --playfair: 'Playfair Display', serif;
    --sarabun: 'Sarabun', sans-serif;
    --color-uno: #a45754;
    --color-dos: #e18383;
    --color-tres: #f3eee9;
    --color-cuatro: #e0d5c3;
}
.container {
    width: 1140px;
    margin: auto;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}
section {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
}
.img-item {
    border: solid 1px var(--black);
    padding: 8px;
    background: var(--white);
}
img {
    width: 100%;
}
p {
    font-family: var(--playfair);
    font-weight: bold;
    font-size: 1.6rem;
    margin-left: .8rem;
}
span {
    font-family: var(--sarabun);
    font-weight: bold;
    font-size: .8rem;
    margin-left: .8rem;
}
@keyframes img-size {
    0% {transform: scale(1);}
    100% {transform: scale(1.05);}
}
.img-item:hover {
    animation-name: img-size;
    animation-duration: .5s;
    transform: scale(1.05);
}
@media (max-width: 1140px) {
    .container {
        width: 98%;
    }
    /* section {
        padding: 1rem;
    } */
}
@media (max-width: 720px) {
    section {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 540px) {
    section {
        grid-template-columns: repeat(2, 1fr);
    }
}